[Desktop Entry]
Version=1.0
Type=Application
Name=App Meteo
Comment=Lancia la mia interfaccia Tkinter
# IMPORTANTE: Sostituisci i percorsi qui sotto con quelli reali
Exec=/home/danyslipknot/My_Software/App_Meteo/start_app.sh
Path=/home/danyslipknot/My_Software/App_Meteo/
Icon=/home/danyslipknot/My_Software/App_Meteo/icone/icon.png
Terminal=false
